.bundle
coverage
public/packs
public/packs-test
public/error-page-v2.css
public/assets
app/assets/builds
test/fixtures/files
test/fixtures/active_storage
tmp
vendor
config/database.yml

*.js
*.mjs
*.rb
