<%# Please don't convert this file to Slim %>

<div class="order d-flex">
  <%= link_to(
      render(IconComponent.new(:arrow_up)),
      datagrid_order_path(grid, column, false),
      data: { turbo_frame: "_top" },
      class: "asc") %>
  <%= link_to(
      render(IconComponent.new(:arrow_down)),
      datagrid_order_path(grid, column, true),
      data: { turbo_frame: "_top" },
      class: "desc") %>
</div>
