/# locals: (account:)

= form_with model: account,
            url: update_account_settings_personal_profile_path,
            id: :settings_form,
            method: :patch,
            class: "vstack" do |form|

  = render LabeledComponent.new(left_layout_class: "col-12 form-label", right_layout_class: "col-12") do |c|
    - c.with_label t("settings.person.profile.full_name_input_label"), for_field: :full_name
    = render TextInputComponent.new(form,
                                    method: :name,
                                    size: :small,
                                    type: :text,
                                    required: true,
                                    placeholder: t("settings.person.profile.show.name_placeholder"),
                                    value: account.name,
                                    aria: { label: t("settings.person.profile.full_name_input_label") })
