/# locals: (placement:, direction: :forward)

= form_with url: change_stage_ats_placement_path(placement),
            data: { turbo_frame: :turbo_modal_window }
  - if direction == :forward && placement.next_stage.present?
    = render IconButtonComponent.new( \
               :arrow_right,
               name: :stage,
               value: placement.next_stage,
               size: :tiny,
               class: "placement-dropdown-toggle placement-button",
               data: { bs_toggle: :tooltip, bs_title: placement.next_stage, bs_placement: :bottom },
             )
  - elsif direction == :backward && placement.prev_stage.present?
    = render ButtonComponent.new( \
               variant: :custom,
               class: "dropdown-item",
               name: :stage,
               value: placement.prev_stage,
               flex_content_position: :start,
             ) do |c|
      - c.with_icon(:arrow_left, position: :left)
      = sanitize(placement.prev_stage)
