/# locals: (placement:, data_display_static: false, requalify_text: false, position_pipeline_card: false)

- unless placement.qualified?
  = form_with url: change_status_ats_placement_path(placement, position_pipeline_card:),
              data: { bs_toggle: :tooltip, bs_title: "Requalify", bs_placement: :bottom }
    = render IconButtonComponent.new( \
               :reload,
               size: (position_pipeline_card ? :small : :tiny),
               name: :status,
               value: :qualified,
               data: { toggle: "ats-confirmation",
                       title: "Requalify candidate?",
                       btn_cancel_label: "Cancel",
                       btn_ok_label: "Requalify" },
             )

/ To keep the buttons in the same places on the pipeline
- if position_pipeline_card && placement.reserved?
  span style="width: 36px;"
- if placement.qualified? || placement.reserved?
  = tag.span( \
      class: "btn-group",
      type: :button,
      aria: { expanded: false, haspopup: true },
      data: { action: "shown.bs.dropdown->pipeline-placements#onDisqualifyDropdownToggle " \
                      "hidden.bs.dropdown->pipeline-placements#onDisqualifyDropdownToggle",
              bs_toggle: :dropdown,
              bs_display: ("static" if data_display_static) },
    )
    = render IconButtonComponent.new( \
               :ban,
               size: (position_pipeline_card ? :small : :tiny),
               class: "placement-dropdown-toggle placement-button",
               data: { bs_toggle: :tooltip, bs_title: "Disqualify", bs_placement: "bottom" },
             )
  ul.dropdown-menu.dropdown-menu-end
    - Placement::MANUAL_DISQUALIFY_STATUSES.each do |status|
      li
        = form_with url: change_status_ats_placement_path(placement, position_pipeline_card:) do |form|
          ruby:
            tooltip_hash, button_attr =
              if status == "position_closed" && !placement.position.closed?
                [
                  {
                    data: { bs_toggle: "tooltip", bs_placement: "left" },
                    title: "The position is open"
                 },
                 {
                   disabled: true
                 }
                ]
              else
                {
                  data: { bs_toggle: "tooltip", bs_placement: "left" },
                  title: t("candidates.disqualification.disqualify_statuses.#{status}")
                }
              end
          = tag.div(**(tooltip_hash || {})) do
            = form.button({ class: "dropdown-item", name: "status", value: status }.merge(button_attr || {})) do
              = status.humanize
