/# locals: (candidate:, form:)

= tag.div id: "candidate-contacts-phones",
          class: "sortable-container",
          data: { controller: "array-fields",
                  array_fields_class_name_value: "candidate",
                  array_fields_field_name_value: "phone",
                  array_fields_sortable_value: true }
  - field_collection = candidate.candidate_phones + [CandidatePhone.new]
  = form.fields_for(:candidate_phones, field_collection) do |phones_form|
    - index = phones_form.index
    .array-unit [id="candidate_phones#{index}" data-update-requirement-attribute-for-select-field-target="form"
      data-controller="update-requirement-attribute-for-select-field"]
      .d-flex.gap-2.align-items-sm-center.align-items-baseline.justify-content-around.sortable-body.mb-2
        = render IconComponent.new(:menu, type: :button, class: "sortable-handle")
        .d-grid.gap-2.align-items-center.flex-sm-row.flex-column.flex-grow-1
          = render TextInputComponent.new(phones_form, method: :phone,
                                          placeholder: t("candidates.phone"),
                                          "data-update-requirement-attribute-for-select-field-target": "mainField")
          = phones_form.hidden_field(:type, value: :personal)
          - if phones_form.object.id.present?
            = phones_form.hidden_field(:id)
        = render IconButtonComponent.new( \
                   :trash,
                   variant: :ghost,
                   type: :button,
                   class: "candidate-delete-phone-button",
                   id: "candidate_delete_phone_button#{index}",
                   data: { action: "array-fields#deleteField",
                     array_fields_block_id_param: "candidate_phones#{index}" },
                 )
  .array-unit [id="candidate_phones_hidden" hidden="true"
    data-update-requirement-attribute-for-select-field-target="form"
    data-controller="update-requirement-attribute-for-select-field"]
    = form.fields_for(:candidate_phones, CandidatePhone.new, child_index: "id") do |phones_form|
      .d-flex.gap-2.align-items-sm-center.align-items-baseline.justify-content-around.sortable-body.mb-2
        = render IconComponent.new(:menu, type: :button, class: "sortable-handle")
        .d-grid.gap-2.align-items-center.flex-sm-row.flex-column.flex-grow-1
          = render TextInputComponent.new(phones_form, method: :phone,
                                          placeholder: t("candidates.phone"),
                                          "data-update-requirement-attribute-for-select-field-target": "mainField")
          = phones_form.hidden_field(:type, value: :personal)
        = render IconButtonComponent.new( \
                   :trash,
                   variant: :ghost,
                   type: :button,
                   class: "candidate-delete-phone-button",
                   id: "candidate_delete_phone_button",
                   data: { action: "array-fields#deleteField",
                           array_fields_block_id_param: "candidate_phones" },
                 )
  = render ButtonComponent.new(variant: :cancel,
                               size: :tiny,
                               type: :button,
                               id: "candidate_add_phone_button",
                               data: { action: "click->array-fields#addField" })
    | Add
