/# locals: (candidate:, pattern: nil, form:)

= tag.div id: "candidate-contacts-emails",
          class: "sortable-container",
          data: { controller: "array-fields",
                  array_fields_class_name_value: "candidate",
                  array_fields_field_name_value: "email",
                  array_fields_sortable_value: true }
  - field_collection = candidate.candidate_email_addresses + [CandidateEmailAddress.new]
  = form.fields_for(:candidate_email_addresses, field_collection) do |address_form|
    .array-unit [id="candidate_emails#{address_form.options[:child_index]}"
      data-update-requirement-attribute-for-select-field-target="form"
      data-controller="update-requirement-attribute-for-select-field"]
      .d-flex.gap-2.align-items-sm-center.align-items-baseline.justify-content-around.sortable-body.mb-2
        = render IconComponent.new(:menu, type: :button, class: "sortable-handle")
        .d-grid.gap-2.align-items-center.flex-sm-row.flex-column.flex-grow-1
          = render TextInputComponent.new(address_form, method: :address,
                                          placeholder: t("candidates.address"), pattern:,
                                          "data-update-requirement-attribute-for-select-field-target": "mainField")
          = address_form.hidden_field(:created_via)
          = address_form.hidden_field(:type, value: :personal)
          - if address_form.object.id.present?
            = address_form.hidden_field(:id)
        = render IconButtonComponent.new( \
                   :trash,
                   variant: :ghost,
                   type: :button,
                   class: "candidate-delete-email-button",
                   id: "candidate_delete_email_button#{address_form.options[:child_index]}",
                   data: { action: "array-fields#deleteField",
                           array_fields_block_id_param: "candidate_emails#{address_form.options[:child_index]}" },
                 )
  .array-unit [id="candidate_emails_hidden" hidden="true"
    data-update-requirement-attribute-for-select-field-target="form"
    data-controller="update-requirement-attribute-for-select-field"]
    = form.fields_for(:candidate_email_addresses, CandidateEmailAddress.new, child_index: "id") do |address_form|
      .d-flex.gap-2.align-items-sm-center.align-items-baseline.justify-content-around.sortable-body.mb-2
        = render IconComponent.new(:menu, type: :button, class: "sortable-handle")
        .d-grid.gap-2.align-items-center.flex-sm-row.flex-column.flex-grow-1
          = render TextInputComponent.new(address_form, method: :address,
                                          pattern:, placeholder: t("candidates.address"),
                                          "data-update-requirement-attribute-for-select-field-target": "mainField")
          = address_form.hidden_field(:created_via)
          = address_form.hidden_field(:type, value: :personal)
        = render IconButtonComponent.new( \
                   :trash,
                   variant: :ghost,
                   type: :button,
                   class: "candidate-delete-email-button",
                   id: "candidate_delete_email_button",
                   data: { action: "array-fields#deleteField",
                           array_fields_block_id_param: "candidate_emails" },
                 )
  = render ButtonComponent.new(variant: :cancel,
                               size: :tiny,
                               type: :button,
                               id: "candidate_add_email_button",
                               data: { action: "click->array-fields#addField" })
    | Add
