/# locals: (changed_field: nil)

ruby:
  changed_data = { deferred_selectize_persistent_dropdown_target: "changedField" }
  collaborators_data = changed_data if changed_field == "collaborator_ids"
  hiring_managers_data = changed_data if changed_field == "hiring_manager_ids"
  interviewers_data = changed_data if changed_field == "interviewer_ids"

/ Dropdowns inside the side header are hidden for a moment during clicking tabs and all content below are jumping,
/ so min-height here
= turbo_frame_tag :side_header, class: "col-12 col-lg-5 col-xl-4 mt-4 mt-lg-0", style: "min-height: 173px;",
                                data: { controller: "persistent-dropdown" }

  - if @position.recruiter.present? || allowed_to?(:reassign_recruiter?)
    = render LabeledComponent.new(class: "mb-2", left_layout_class: "col-3", right_layout_class: "col-9",
                                  right_class: "full-width-reassignment-button \
                                               turbo_position_reassign_recruiter_button") do |c|
      - c.with_label("Recruiter")
      = render "shared/profile/reassign_button",
               currently_assigned_account: @position.recruiter&.account,
               tooltip_title: "Recruiter",
               target_model: @position,
               target_url: update_side_header_ats_position_path(@position),
               input_button_name: "position[recruiter_id]",
               unassignment_label: t("core.unassign_recruiter"),
               allowed_to_edit: allowed_to?(:reassign_recruiter?),
               mobile: true,
               excluded_member_ids: @position.collaborator_ids

  = render LabeledComponent.new(class: "mb-2",
                                left_layout_class: "col-3", right_layout_class: "col-9",
                                left_class: "text-truncate") do |c|
    - c.with_label("Collaborators", class: "text-gray-600", for_field: "position_collaborator_ids")
    div [data-bs-toggle=("tooltip" if @position.collaborators.present?)
         data-bs-title=(@position.collaborators.map { _1.account.name }).join(", ")]
      = form_with model: [:ats, @position],
                  url: update_side_header_ats_position_path(@position),
                  local: true,
                  class: "turbo-instant-submit" do |form|
        = render MultipleSelectComponent.new( \
            form,
            method: :collaborator_ids,
            readonly: !allowed_to?(:update_side_header?),
            include_hidden: true,
            local: { options: @options_for_collaborators },
            data: collaborators_data \
          )

  = render LabeledComponent.new(class: "mb-2",
                                left_layout_class: "col-3", right_layout_class: "col-9",
                                left_class: "text-truncate") do |c|
    - c.with_label("Hiring managers", class: "text-gray-600", for_field: "position_hiring_manager_ids")
    div [data-bs-toggle=("tooltip" if @position.hiring_managers.present?)
         data-bs-title=(@position.hiring_managers.map { _1.account.name }).join(", ")]
      = form_with model: [:ats, @position],
                  url: update_side_header_ats_position_path(@position),
                  local: true,
                  class: "turbo-instant-submit" do |form|
        = render MultipleSelectComponent.new( \
            form,
            method: :hiring_manager_ids,
            readonly: !allowed_to?(:update_side_header?),
            include_hidden: true,
            local: { options: @options_for_hiring_managers },
            data: hiring_managers_data \
          )

  = render LabeledComponent.new(class: "mb-2",
                                left_layout_class: "col-3", right_layout_class: "col-9",
                                left_class: "text-truncate") do |c|
    - c.with_label("Interviewers", class: "text-gray-600", for_field: "position_interviewer_ids")
    div [data-bs-toggle=("tooltip" if @position.interviewers.present?)
         data-bs-title=(@position.interviewers.map { _1.account.name }).join(", ")]
      = form_with model: [:ats, @position],
                  url: update_side_header_ats_position_path(@position),
                  local: true,
                  class: "turbo-instant-submit" do |form|
        = render MultipleSelectComponent.new( \
            form,
            method: :interviewer_ids,
            readonly: !allowed_to?(:update_side_header?),
            include_hidden: true,
            local: { options: @options_for_interviewers },
            data: interviewers_data \
          )
