<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>500 | Internal server error</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta21/dist/css/tabler.min.css" />

    <style>
      :root {
        --tblr-body-line-height: 1.5;
      }
      .btn {
        --tblr-btn-line-height: var(--tblr-body-line-height);
        --tblr-btn-icon-size: 17px;
      }
      .btn .icon {
        margin: 0;
      }
      .btn-small {
        --tblr-btn-font-size: 14px;
        --tblr-btn-padding-x: 9px;
        --tblr-btn-padding-y: 4.5px;
      }
      [class*="container"] {
        --tblr-gutter-x: 3rem;
      }
    </style>
  </head>

  <body class="vstack">
    <nav class="navbar" style="height: 56px"></nav>

    <div class="container-fluid p-4 pb-5">
      <div class="empty">
        <div class="empty-header">500</div>
        <h1 class="empty-title">Internal server error</h1>
        <p class="empty-subtitle text-secondary">Something went wrong, please try again later.</p>
        <div class="empty-action">
          <a class="btn btn-primary btn-small gap-2" href="/"
            ><svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-left icon-component flex-shrink-0 icon-component-small">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path d="M5 12l14 0"></path>
              <path d="M5 12l6 6"></path>
              <path d="M5 12l6 -6"></path></svg
            >Take me home</a
          >
        </div>
      </div>
    </div>

    <footer class="pt-2 text-secondary mt-auto" style="height: 117px">
      <div class="container-fluid h-100 d-flex justify-content-lg-start justify-content-center" style="padding-top: 24px; padding-bottom: 32px">
        <div class="d-flex align-items-center">© 2024 Toughbyte</div>
      </div>
    </footer>
  </body>
</html>
