<!doctype html>
<!-- TODO: replace style attributes with css styles-->
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>500 | Application error</title>
    <link rel="stylesheet" media="all" href="https://freeats.s3.eu-west-1.amazonaws.com/error_pages/error-page-v2.css" />
  </head>

  <body class="min-vh-100 d-flex flex-column">
    <div class="bg-dark" style="height: 56px"></div>

    <div class="flex-grow-1 container-fluid p-4">
      <h1 class="font-weight-bold">500 | Application Error</h1>
      <p class="font-subheader">Something went wrong. Try to refresh this page or contact support if the problem persists.</p>
    </div>

    <footer class="pt-2" style="background-color: #212529">
      <div class="container-fluid p-4 pb-5">
        <div class="font-size-sm text-center text-lg-left">
          <div class="text-white-50 font-weight-bold my-2">© 2024 Toughbyte</div>
        </div>
      </div>
    </footer>
  </body>
</html>
