#email-threads {
  .card-footer {
    border-top-color: var(--tblr-border-color);
  }

  .compose-form {
    .compose-form-message {
      padding: 16px 20px;

      // Color for placeholder text.
      trix-editor:before {
        color: var(--tblr-gray-400);
      }
    }

    .input-group {
      border-bottom: 1px solid var(--tblr-border-color);
      border-radius: 0;
      flex-wrap: nowrap;
      align-items: center;
      height: 44px;
      padding: 8px 20px;

      .input-group-append-button {
        @extend .font-small;
        padding: 4px 8px;
      }

      .compose-form-subject {
        padding: 0;
      }

      .selectize-without-border-and-chevron {
        .selectize-input {
          border: none;

          &.focus {
            box-shadow: none;
          }

          &:after {
            content: none;
          }
        }
      }
    }
  }
}
