#placements-panel {
  .placement-buttons {
    border-radius: 5px !important;
    .btn-group {
      &:first-child {
        button {
          border-top-right-radius: 0px;
          border-bottom-right-radius: 0px;
        }
      }
      &:nth-child(2):not(:last-child) {
        button {
          border-radius: 0px;
        }
      }
      &:last-child {
        button {
          border-top-left-radius: 0px;
          border-bottom-left-radius: 0px;
        }
      }
    }
  }

  .placement-dropdown-toggle {
    @extend .dropdown-toggle;
    &:after {
      display: none;
    }
  }

  .placement-button {
    border: 0.8px solid $gray-500;
    width: 28px;
    height: 28px;
    padding: 0;
  }
}

#notes {
  .notes-toggle {
    border: none;
    box-shadow: none;

    &:focus,
    &:hover {
      border: none;
      box-shadow: none;
    }
  }
}

#notes .card {
  .card-title {
    font-size: 0.875rem;
  }
}

#email-threads {
  .card-header {
    padding: 0.875rem 1rem;
  }

  .card-footer {
    border-top-color: $gray-500;
  }
}

.position-suggestion .col {
  min-width: 0;
}
