.activity-quote {
  border-left: 2px solid lightgrey;
  padding-left: 0.25rem;
  font-style: italic;
  margin: 0.5rem 0 0 0;
}

.modal-body {
  .container:first-child,
  .container-fluid:first-child {
    padding-right: 0;
    padding-left: 0;
  }
}

.form-control {
  line-height: var(--tblr-body-line-height);
  text-overflow: ellipsis;

  &:focus {
    box-shadow:
      $box-shadow-input,
      0 0 0 0.25rem rgba(var(--tblr-primary-rgb), 0.25);
  }
}

.badge {
  border-color: var(--tblr-gray-200);
}

hr {
  margin: 1rem 0;
}
