.activity-quote {
  border-left: 2px solid lightgrey;
  padding-left: 0.25rem;
  font-style: italic;
  margin: 0.5rem 0 0 0;
}

.modal-body {
  .container:first-child,
  .container-fluid:first-child {
    padding-right: 0;
    padding-left: 0;
  }
}

.badge {
  border-color: var(--tblr-gray-200);
}

hr {
  margin: 1rem 0;
}

tr {
  td.position_status,
  td.avatar_image,
  td.task_status {
    &:first-child {
      width: 64px;
      text-align: center;
    }
  }
}

// TODO: replace this with flex > flex-grow-1 as it done on career site
// place the footer at the bottom of the page
.wrapper {
  min-height: calc(100% - $footer-min-height);
}

.header-edit-avatar-row .col-form-label-sm {
  padding-top: 0;
  padding-bottom: 0;
}
