// HACK: that shows a tooltip without arrow
// probably there is something built in for this
.no-arrow-tooltip {
  .tooltip-arrow {
    display: none !important;
  }
}

// NOTE: what to do with this custom styles?
// some of them could be replaced by default some not
#pipeline-body {
  // 248px = $('#pipeline-body').offset().top
  // 15px = scrollbar height
  // another 10px is used as a small offset from the bottom of the browser
  $pipeline-height: calc(100vh - 248px - 10px);
  height: 100%;
  $pipeline-header-height: 1.875rem;

  @include media-breakpoint-up(sm) {
    height: $pipeline-height;
  }

  .pipeline-body-column {
    height: inherit;
  }

  .pipeline-column {
    min-width: 252px;

    @include media-breakpoint-up(sm) {
      background-color: $card-bg;
      border: $card-border-width solid $card-border-color;
      border-radius: $card-border-radius;
    }

    .pipeline-stage-header {
      height: $pipeline-header-height;
    }

    .card {
      position: relative;

      .card-triangle {
        position: absolute;
        z-index: 1;
        width: 1rem;
        height: 1rem;
        top: -1px;
        left: -1px;
        clip-path: polygon(100% 0%, 0% 100%, 0% 100%, 0% 0%);
        -webkit-clip-path: polygon(100% 0%, 0% 100%, 0% 100%, 0% 0%);
        background-color: gray;
        border-radius: 0.2rem 0 0 0;
      }

      .card-right-container {
        width: calc(100% - 80px);
        flex: 0 0 auto;

        .btn {
          padding: unset;
          width: 36px;
          height: 36px;
        }

        .card-hidden-container {
          opacity: 1;
          transition: opacity 0.2s linear;

          @media (hover: hover) {
            opacity: 0;
          }

          .overflow-y-scroll {
            overflow-y: scroll !important;
          }

          .mh-50 {
            max-height: 50 !important;
          }
        }
      }

      .card-btn {
        width: 1.9rem;
        height: 1.9rem;
        padding: 0px;
      }

      .card-form + .card-form {
        margin-right: 0.75rem;
      }

      &:hover {
        .card-hidden-container {
          opacity: 1;
        }

        .card-disqualify-reason {
          width: 70%;
        }
      }
    }
  }

  .show-sm {
    @include media-breakpoint-up(sm) {
      transition: none !important;
      opacity: 100 !important;
    }
  }
  .scroll-sm {
    @include media-breakpoint-up(sm) {
      overflow-x: auto;
      overflow-y: hidden;
    }
  }
  .tab-content {
    height: 100%;
  }
  .column-scroll-sm {
    @include media-breakpoint-up(sm) {
      height: calc(100% - #{$pipeline-header-height});
      overflow-y: auto;
      overflow-x: hidden;
    }
  }
}
