.quick-search {
  @media (min-width: 992px) {
    width: 100%;
    max-width: 327px;
  }

  a {
    color: unset;
    text-decoration: none;
    .quick-search-suggestion {
      flex-wrap: nowrap;
      text-overflow: ellipsis;
      .col {
        min-width: 0;
      }
    }
  }

  .selectize-dropdown-content {
    width: 100%;
    font-size: 14px;
    max-height: 100% !important;
    height: 100% !important;

    a {
      .col-auto {
        height: 60px;
        line-height: 60px;
      }

      .quick-search-see-more {
        height: 52px;

        .col {
          line-height: 52px;
        }
      }

      p {
        margin: 0;
      }
    }

    .optgroup {
      a {
        text-decoration: none;
      }

      &:before {
        margin: 0px;
      }

      .option {
        padding: 0px;
      }
    }
  }
}
