#settings {
  .col-form-label-sm {
    padding-top: 0;
    padding-bottom: 0;
  }

  .email-template-placeholders {
    .form-label {
      .label-component-small {
        padding-bottom: 0;
      }

      .icon-small {
        height: 21px;
        padding-top: 0;
        padding-bottom: 0;
      }
    }

    ul {
      margin-bottom: 0;
    }
  }
}
