$toughbyte-black: #000000;
$github-black: #24292e;
$linkedin-blue: #006691;
$facebook-blue: #4267b2;
$apple-blue: #4267b2;
$play-blue: #4267b2;
$twitter-black: #000000;
$vk-blue: #4a76a8;
$skype-color: #00aef3;
$telegram-color: #1f97c9;
$hh-red: #d6001c;
