footer {
  height: $footer-min-height;

  .font-icon-24 {
    font-size: 1.7145rem;
    vertical-align: -0.25em;
  }

  div:nth-child(2) > div > a {
    opacity: 0.5;
    transition: opacity 0.2s ease-in;
  }

  div:nth-child(2) > div > a:hover,
  .nav-item > a:hover {
    opacity: 0.8;
  }

  .nav-item > a:hover {
    color: $gray-100;
    opacity: 0.8;
  }
}
