nav.header {
  min-height: $navbar-min-height;
  background-color: $navbar-bg;

  .navbar-brand:hover {
    opacity: 0.9;
  }

  .navbar-toggler {
    border: none;
  }

  .nav-link {
    color: $navbar-text !important;
    font-size: 1.125rem;
    line-height: 1.5rem;
    letter-spacing: 0.02em;

    &:hover {
      text-shadow:
        -0.06ex 0 $navbar-text,
        0.06ex 0 $navbar-text;
    }
  }

  .nav-notify-btn {
    color: $navbar-text;
  }

  .nav-link-selected {
    text-shadow:
      -0.06ex 0 $navbar-text,
      0.06ex 0 $navbar-text;
  }

  .nav-item {
    .btn:focus {
      box-shadow: none;
    }
  }

  li.login {
    text-align: left;
    display: flex;
    align-items: center;

    @include media-breakpoint-up(md) {
      gap: 0.5rem;
    }

    @include media-breakpoint-down(md) {
      flex-direction: column;
      align-items: stretch;
    }
  }

  .dropdown-menu {
    background-color: $navbar-bg;
    border: 0;

    @include media-breakpoint-down(lg) {
      margin-top: 0px;
      &:not(.dropdown-menu-end) {
        padding: 0 1rem;
      }
    }
  }
  .dropdown-item {
    font-size: 1.125rem;
    line-height: 1.688rem;
    &,
    &:focus {
      color: $navbar-text;
    }
  }
  .dropdown-divider {
    border-top: 1px solid #e9ecef;
  }
  .dropdown-item:hover,
  .dropdown-item:focus,
  .dropdown-item.active {
    text-shadow:
      -0.06ex 0 $navbar-text,
      0.06ex 0 $navbar-text;
    background-color: $navbar-bg;
  }
}

#navbar-toggler {
  max-width: 100%;
}

body {
  padding-top: $navbar-min-height;
}

@include media-breakpoint-down(lg) {
  nav.header {
    #navbarNav.show {
      max-height: calc(100vh - $navbar-min-height);
    }
  }
}

footer {
  .nav-link {
    transition: none;
    &:hover {
      color: #fff;
    }
  }
}

.navbar {
  --bs-navbar-padding-x: 24px;
}
