#profile {
  .links-row {
    .linkedin-icon {
      color: $linkedin-blue;
    }
    .github-icon {
      color: $github-black;
    }
    .facebook-icon {
      color: $facebook-blue;
    }
    .twitter-icon {
      color: $twitter-black;
    }
    .vk-icon {
      color: $vk-blue;
    }
    .skype-icon {
      color: $skype-color;
    }
    .telegram-icon {
      color: $telegram-color;
    }
  }

  .accordion {
    --tblr-accordion-bg: #ffffff;
  }
}

#notes {
  :target {
    background-color: var(--tblr-blue-lt) !important;
  }

  :target,
  .modal-note-active {
    box-shadow: 0px 0px 0px 4px var(--tblr-blue-lt) !important;
  }

  &.task-notes {
    .card,
    .card-body,
    .card-footer,
    .thread-collapse-button,
    .list-group-item.note {
      background-color: var(--tblr-modal-bg);
    }
  }

  &:not(.task-notes) {
    .card,
    .card-body,
    .card-footer,
    .thread-collapse-button,
    .list-group-item.note {
      background-color: var(--tblr-body-bg);
    }
  }

  .private-thread .list-group {
    .card,
    .card-body,
    .card-footer,
    .thread-collapse-button,
    .list-group-item.note {
      background-color: var(--tblr-yellow-lt);
      box-shadow: 0px 0px 0px 4px var(--tblr-yellow-lt);
    }
  }

  .thread-collapse-button {
    border: 0 !important;
    box-shadow: none !important;
  }

  .card {
    border: 0;

    .card-title {
      margin-bottom: 0.5rem;
      font-size: 0.875rem;
      line-height: 1.5;
    }

    .card-body {
      padding: 0;
    }

    .card-footer {
      border-top: 0;
      padding: 0.5rem 0 0 0;
      text-align: end;
    }
  }

  .list-group-item.note {
    padding: 0;
    border: 0;
  }
}

.profile-avatar-overlay {
  --overlay-bg-color: rgba(19, 19, 19, 0.92);

  position: absolute;
  height: 36px;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--tblr-alert-bg, var(--overlay-bg-color));
  color: var(--tblr-alert-color, #fff);
  @extend .font-small;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.placement-buttons {
  .btn-group {
    &:first-child {
      button {
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
      }
    }
    &:nth-child(2):not(:last-child) {
      button {
        border-radius: 0px;
      }
    }
    &:last-child {
      button {
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
      }
    }
  }
}

#scorecard-form {
  .score-btn {
    @extend .form-selectgroup-label, .py-1, .px-2;
  }

  $scorecard:
    irrelevant --tblr-red --tblr-red,
    relevant --tblr-red-300 --tblr-red,
    good --tblr-green-300 --tblr-green,
    perfect --tblr-green --tblr-green;

  @each $name, $bg-color, $border-color in $scorecard {
    .#{$name}-score {
      border-color: var($border-color) !important;
      background-color: var(--tblr-white);
      color: var(--tblr-body-color);
      .icon {
        color: var($bg-color);
      }
    }

    .#{$name}-score-input:checked + .#{$name}-score {
      background-color: var($bg-color);
      color: var(--tblr-white);
      .icon {
        color: inherit;
      }
    }
  }
}

#activities {
  .card-body {
    --tblr-card-spacer-y: 12px;

    .divide-y {
      > :not(template):not(:last-child) {
        padding-bottom: 12px !important;
      }
      > :not(template):not(:first-child) {
        padding-top: 12px !important;
      }
      > :target {
        background-color: var(--tblr-blue-lt);
      }
    }
  }
}
