body {
  padding-top: 0rem;
}

.container-small {
  min-width: 320px;
  max-width: 740px;
}

.container-md-small {
  @media (min-width: 768px) {
    min-width: 320px;
    max-width: 740px;
  }
}

main.container,
footer .container-fluid {
  padding-top: 32px;
  padding-bottom: 48px;
}

// place the footer at the bottom of the page
.wrapper {
  min-height: calc(100% - #{$footer-min-height});
}

#back_on_all_positions a,
#application_form a {
  color: $blue-500;
}

footer {
  min-height: $footer-min-height;

  a,
  span,
  div {
    color: $gray-600;
    &:visited:not(.btn, .nav-link, .dropdown-item, .badge) {
      color: $gray-600;
    }
  }
}

#application_form {
  form {
    @media (min-width: 768px) {
      max-width: 400px;
    }
  }
}

.list-group {
  border: none;
}

.list-group .custom-list-item {
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 1px solid $gray-500;
  border-radius: 0;
}

.list-group .custom-list-item:hover {
  background-color: $blue-100;
  a {
    text-decoration: none;
  }
}

.position_name:hover {
  text-decoration: underline;
}

.position_location {
  text-decoration: none;
  color: var(--tblr-body-color);
}

.position_location:hover {
  text-decoration: none;
}
