/# locals: (form:, file_field:)

= render ButtonComponent.new(variant: :secondary,
                             type: :button,
                             class: "file-upload-button",
                             data: { bs_toggle: "tooltip", \
                                     title: drag_and_drop_tooltip, \
                                     controller: "handle-upload-button" }) do |c|
  - c.with_icon(:upload, size: c.size, position: :right)
  span data-handle-upload-button-target="text" = t("core.upload_button")
  = form.file_field file_field,
                    accept: "image/*",
                    class: "upload d-inline",
                    "data-handle-upload-button-target": "input"
