/# locals: (
/ target_model:,
/ target_url:,
/ input_button_name:,
/ currently_assigned_account:,
/ tooltip_title:,
/ allowed_to_edit:,
/ include_unassignment: false,
/ mobile:,
/ excluded_member_ids:
/)

ruby:
  allowed_to_edit ||= true unless allowed_to_edit == false
  currently_assigned_account ||= nil
  tooltip_title ||= nil
  target_url ||= nil
  input_button_name ||= nil
  mobile ||= false
  excluded_member_ids ||= []
  member_options = compose_member_options_for_select(
    excluded_member_ids:,
    unassignment_label:,
    selected_member_id: target_model.recruiter_id
  )

.reassignment-button data-controller=("reassignment-buttons select-field-instant-submit" if allowed_to_edit)
  - if allowed_to_edit
    = render ButtonComponent.new( \
               variant: :cancel,
               type: :button,
               flex_content_position: :start,
               class: "w-100",
               data: { reassignment_buttons_target: "button",
                       action: "reassignment-buttons#showForm",
                       bs_toggle: :tooltip,
                       bs_title: tooltip_title },
             )
      - if currently_assigned_account.present?
        = picture_avatar_icon currently_assigned_account.avatar
        = currently_assigned_account.name
      - else
        = t("core.assign_button")
    = form_with model: target_model, url: target_url, html: { class: "w-100 hidden" },
                data: { "reassignment-buttons-target" => "form" }
      = render HtmlSelectComponent.new( \
                 input_button_name,
                 placeholder: tooltip_title,
                 id_suffix: mobile ? "-mobile" : "",
                 include_blank: unassignment_label.present?,
                 required: unassignment_label.blank?,
                 local: { options: member_options },
                 data: { deferred_selectize_reassignment_buttons_target: "select",
                         deferred_selectize_select_field_instant_submit_target: "selectField" },
               )
      button.d-none type="submit" = t("core.hidden_save")
  - elsif currently_assigned_account.present?
    .w-100.text-start data-bs-toggle="tooltip" title=tooltip_title
      = picture_avatar_icon currently_assigned_account.avatar
      = currently_assigned_account.name
