// The order of imports is important.

$font-family-sans-serif: "Open Sans", Arial, Helvetica, sans-serif;

// Tabler
@import "../src/shared/variables";
@import "../src/shared/colors";
@import "@tabler/core/src/scss/tabler";

// Custom component styles
@import "../src/shared/selectize";
@import "../src/shared/components";
@import "../src/lookbook/scaffolds";

body {
  padding: 1rem;
  background-color: var(--tblr-white);
}
