footer.pt-2.bg-dark
  .container-fluid.h-100.d-flex.justify-content-lg-start.justify-content-center
    .d-flex.align-items-center
      b.text-white-50 = t("footer.copyright", current_year: Time.zone.today.year)
